<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>/index/Заголовок - решение 1 задачи</p>
    <a href="/index/заголовок">1 решение</a>
    <p>/training/Специальность - решение 2 задачи</p>
    <a href="/training/инженер">2 решение</a>
    <p>/list_prof/Тип списка - решение 3 задачи</p>
    <a href="/list_prof/ul">3 решение</a>
    <p>/answer - решение 4  задачи</p>
    <a href="/answer">4 решение</a>
    <p>/distribution - решение 6 задачи</p>
    <a href="/distribution">6 решение</a>
</body>
</html>