{% extends "index.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/style_for_login.css">
<h1>Авторизация</h1>
<div class="image-container"></div>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(class="form-control") }}<br>
        {% for error in form.username.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
        {% endfor %}
    </p>
        <p>
        {{ form.username_cap.label }}<br>
        {{ form.username_cap(class="form-control") }}<br>
        {% for error in form.username.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
        {% endfor %}
    </p>
    <p>
        {{ form.password_cap.label }}<br>
        {{ form.password_cap(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}