{% extends "index.html" %}

{% block content %}
{% if "инженер" in prof.split() or "строитель" in prof.split() %}
    <div>
        <center>
        <h2>Это есть инженер или строитель</h2>
        <img src="{{href_for_engineer}}" width="373" height="206">
        </center>
    </div>

{% else %}
    <div>
        <center>
        <h2>Это есть не инженер и не строитель</h2>
        <img src="{{href_for_nonengineer}}" width="373" height="206">
        </center>
    </div>
{% endif %}
{% endblock %}